<h1>{{caption}}</h1>
<div>
    <img src="site/images/Einstein.webp" title="Albert Einstein"></img>
</div>
<div>
    <img src="site/images/Charles_Darwin_seated_crop.jpg" title="Charles Darwin"></img>
</div>